<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB Brothers | Best Real Estate Company in Kanpur</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/assets/website/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/website/css/animate.css">
    <link rel="stylesheet" href="~/assets/website/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/website/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/website/css/magnific-popup.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/website/css/templatemo-style.css">

    <style>
        @@media (min-width: 768px) {
            .navbarShift {
                margin-left: 30em;
            }
        }
    </style>
    <style>
        .nav-link {
            font-weight: bold;
            color: white;
        }

        .navbar-nav > li {
            padding-left: 5px;
            padding-right: 5px;
        }

        .dropdown-menu > li > a {
            font-weight: bold !important;
        }

        @@media (max-width: 767px) {
            .dropdown-menu > li > a {
                font-weight: bold !important;
                color: white !important;
            }
        }

        

        button {
            cursor: pointer;
            border: 0;
            border-radius: 4px;
            font-weight: 600;
            margin: 0 10px;
            width: 80px;
            padding: 10px 0;
            box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
            transition: 0.4s;
        }

        .reg {
            color: white;
            background-color: rgba(104, 85, 224, 1);
        }

        .log {
            color: rgb(104, 85, 224);
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(104, 85, 224, 1);
        }

        button:hover {
            color: white;
            width:;
            box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
            background-color: rgba(104, 85, 224, 1);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand" style="color: #ffffff; font-size: 18px; font-weight: bold">AB <span style="color: #ce3232">.</span> BROTHERS</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @*<li>@Html.ActionLink("Others", "Others", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                    <li class="dropdown">
                        <a class=" nav-link" data-toggle="dropdown" href="#">Useful Links <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class=" nav-link" href="https://edistrict.up.gov.in/edistrictup/">E-District</a>

                            </li>

                            <li><a href="https://sarathi.parivahan.gov.in/sarathiservice/stateSelection.do">DL Apply</a></li>

                            <li><a href="https://cscentrepreneur.in/register">Apply TEC Certificate</a></li>


                            <li><a href="https://www.kotak811.com/open-zero-balance-savings-account">Kotak 0 Balance Account</a></li>
                            <li><a href="https://pancardguru.online/verification_Pan?panNumber=">PAN Find </a></li>
                            <li><a href="https://nreganarep.nic.in/netnrega/MISreport4.aspx?fin_year=2013-2014&rpt=RP&source=national">JOB Card</a></li>

                            <li><a href="https://www.onlinesbi.sbi/">State Bank</a></li>
                            <li><a href="https://paytm.com/">Paytm</a></li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class=" nav-link" data-toggle="dropdown" href="#">CSC<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="https://cscregister.csccloud.in/web/register">CSC Apply</a></li>
                            <li><a href="https://chat.whatsapp.com/Ifv7c6FSc2eLdcn3jnP7zJ">CSC VLE All Service Provider</a></li>

                        </ul>
                    </li>



                    <li class="dropdown">
                        <a class=" nav-link" data-toggle="dropdown" href="#">BIZNEXT <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="https://partner.biznext.in/login">Login</a></li>
                            <li><a href="https://bo-partner.biznext.in/bo">Distributor Login</a></li>
                            <li><a href="https://partner.biznext.in/signup?link=CC02SM22S9I%3D">Signup</a></li>
                            <li><a href="https://api.whatsapp.com/send/?phone=%2B917008125007&text&type=phone_number&app_absent=0">Enquiry</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class=" nav-link" data-toggle="dropdown" href="#">AADHAR <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a href="https://tathya.uidai.gov.in/access/login?role=resident">Login</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/genricDownloadAadhaar">Download</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/check-aadhaar-validity">Aadhar Validity</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/verify-email-mobile">Mobile and Email Verify</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/retrieve-eid-uid">Search Aadhar</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/genericGenerateOrRetriveVID">VID Generate</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/lock-unlock-aadhaar">Lock/Unlock</a></li>
                            <li><a href="https://tathya.uidai.gov.in/access/login?role=resident">DBT AC Check</a></li>


                            <li><a href=" https://myaadhaar.uidai.gov.in/genricPVC">Order PVC</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/checkStatus">PVC Status</a></li>
                            <li><a href="https://myaadhaar.uidai.gov.in/CheckAadhaarStatus">EID Status</a></li>
                            <li><a href="https://appointments.uidai.gov.in/bookappointment.aspx">Book Appointment</a></li>
                            <li><a href="https://bhuvan-app3.nrsc.gov.in/aadhaar/">Aadhar Center List</a></li>

                        </ul>
                    </li>




                    <li class="dropdown">
                        <a class=" nav-link" data-toggle="dropdown" href="#">PM-KISAN <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a href="https://pmkisan.gov.in/RegistrationFormNew.aspx">Registration</a></li>
                            <li><a href="https://pmkisan.gov.in/BeneficiaryStatus_New.aspx">Status</a></li>
                            <li><a href="https://pmkisan.gov.in/SearchSelfRegisterfarmerDetailsnew.aspx">Update Registration</a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.nic.project.pmkisan">Download APP</a></li>


                        </ul>
                    </li>


                    <li class="dropdown">
                        <a class=" nav-link" data-toggle="dropdown" href="#">PMJAY <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a href="https://beneficiary.nha.gov.in/">Ayushman Login</a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.beneficiaryapp">Ayushman APP</a></li>
                            <li><a href="https://pmkisan.gov.in/SearchSelfRegisterfarmerDetailsnew.aspx">Update Registration</a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.nic.project.pmkisan">Download APP</a></li>


                        </ul>
                    </li>


                 
                    @*<li>
                        <button class="log">Login</button>

                    </li>
                    <li>
                        <button class="reg">Sign up</button>

                    </li>*@

                </ul>
            </div>
        </div>
    </nav>
    @*<section class="navbar custom-navbar navbar-fixed-top" role="navigation" style="background-color:#333435; padding: 4px 0;">*@

    @*</section>*@
  
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Copyright @@2024 by AB BROTHERS</p>
        </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<!-- SCRIPTS -->

</html>
<script src="~/assets/website/js/jquery.stellar.min.js"></script>
<script src="~/assets/website/js/wow.min.js"></script>
<script src="~/assets/website/js/owl.carousel.min.js"></script>
<script src="~/assets/website/js/jquery.magnific-popup.min.js"></script>
<script src="~/assets/website/js/smoothscroll.js"></script>
<script src="~/assets/website/js/custom.js"></script>     